/*---------------------- MIXINS ----------------------*/
/* grid */
@mixin grid-col-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

/* media query mixin */
@mixin breakpoint($class) {
  @if $class == xsm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 750px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 950px) {
      @content;
    }
  } @else if $class == xlg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == xxlg {
    @media (min-width: 1800px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xsm, sm, md, lg, xlg, xxlg";
  }
}

/* colors */
$colors: (
  dark-blue: hsl(233, 26%, 24%),
  green: hsl(136, 65%, 51%),
  cyan: hsl(192, 70%, 51%),
  grayish-blue: hsl(233, 8%, 62%),
  light-grayish-blue: hsl(220, 16%, 96%),
  light-gray: hsl(0, 0%, 98%),
  white: hsl(0, 0%, 100%),
);

@mixin color-modifiers($attribute: "color") {
  @each $name, $hex in $colors {
    &-#{$name} {
      #{$attribute}: $hex;
    }
  }
}

$align: (
  left: left,
  right: right,
  center: center,
);

@mixin align-modifiers($attribute: "text-align") {
  @each $name, $option in $align {
    &-#{$name} {
      #{$attribute}: $option;
    }
  }
}

$transform: (
  uppercase: uppercase,
  lowercase: lowercase,
  capitalize: capitalize,
);

@mixin transform-modifiers($attribute: "text-transform") {
  @each $name, $option in $transform {
    &-#{$name} {
      #{$attribute}: $option;
    }
  }
}

$weights: (
  bold: 700,
  normal: 400,
);

@mixin weight-modifiers($attribute: "font-weight") {
  @each $name, $option in $weights {
    &-#{$name} {
      #{$attribute}: $option;
    }
  }
}

$padding-margin: (
  quarter: 0.25em,
  half: 0.5em,
  0: 0,
  1: 1em,
  2: 2em,
  3: 3em,
  4: 4em,
  5: 5em,
  6: 6em,
);

@mixin padding-margin-modifiers($attribute: "padding") {
  @each $name, $value in $padding-margin {
    &-#{$name} {
      #{$attribute}: $value;
    }
  }
}

@mixin pm-x-axis-modifiers($attribute: "padding") {
  @each $name, $value in $padding-margin {
    &-#{$name} {
      #{$attribute}-right: $value;
      #{$attribute}-left: $value;
    }
  }
}

@mixin pm-y-axis-modifiers($attribute: "padding") {
  @each $name, $value in $padding-margin {
    &-#{$name} {
      #{$attribute}-top: $value;
      #{$attribute}-bottom: $value;
    }
  }
}

/* transitions */
@mixin transition-300 {
  transition: all 300ms ease-in-out;
  backface-visibility: hidden;
}
