/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
:root {
  /* colors */
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.16rem, 16px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  color: var(--dark-blue);
  background-color: var(--light-grayish-blue);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* text styles */
h2,
h3 {
  color: var(--dark-grayish-blue);
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.9rem;
  margin: 0.25em 0;
}

h4 {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--grayish-blue);
  margin: 0;
}

p {
  font-size: 0.8125rem;
  line-height: 1.45rem;
}

/* img styles */
img {
  max-width: 100%;
  height: auto;
}

/* genetic class text styles */
.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

/* footer styles */
footer {
  margin-top: 1em;
}

/*---------------------- DISPLAY STYLES ----------------------*/
.container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper-900 {
  margin: 0 auto;
  max-width: 900px;
}

@media (min-width: 650px) {
  .d-desk-none {
    display: none !important;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*---------------------- COMPONENTS STYLES ----------------------*/
/* custom article styles */
article {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 5px 7px 37px -16px #6d7f97;
  box-shadow: 5px 11px 37px -25px #6d7f97;
}
@media (min-width: 650px) {
  article {
    flex-direction: row;
  }
}

.article-img {
  margin-bottom: -4px;
}

.article-img img {
  width: 660px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 650px) {
  .article-img img {
    border-radius: 10px 0 0 10px;
  }
}

.article-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1.5em;
}

.article-footer {
  display: flex;
  align-items: center;
  margin-top: 1.25em;
  position: relative;
}

.article-footer-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.article-footer-text {
  margin: 0 1em;
}

/* tooltip styles */
.tooltip {
  margin-left: auto;
}

/* share overlay styles */
.share-overlay {
  display: flex;
  align-items: center;
  background-color: var(--dark-grayish-blue);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: -1em -1.5em -0.5em -1.5em;
  border-radius: 0 0 10px 10px;
  padding: 0.25em 2.5em;
  transition: all 300ms ease-in-out;
}
@media (min-width: 650px) {
  .share-overlay {
    width: 250px;
    justify-content: center;
    top: -57px;
    bottom: 61px;
    left: clamp(31%, calc(100vw - 142%), 64%);
    border-radius: 10px;
    padding: 0.25em 0.25em;
  }

  .share-overlay::after {
    content: "";
    position: absolute;
    top: 97%;
    left: 155px;
    border-width: 12px;
    border-style: solid;
    border-color: var(--dark-grayish-blue) transparent transparent transparent;
  }
}

.tooltip:hover .share-overlay,
.tooltip:focus-within .share-overlay {
  visibility: visible;
  opacity: 1;
}

.share-overlay span {
  font-size: 0.85rem;
  color: var(--grayish-blue);
  letter-spacing: 0.5em;
  font-weight: 700;
}

/* social icons styles */
.social-icons img {
  display: inline-block;
  margin-left: 0.75em;
  transition: all 300ms ease-in-out;
}

.social-icons a:hover img,
.social-icons a:focus img {
  cursor: pointer;
  transform: scale(1.2);
}

/* button styles */
.share-overlay .btn-share {
  border: none;
  border-radius: 50%;
  background-color: var(--dark-blue);
  padding: 0.65em;
  cursor: pointer;
  margin-left: auto;
  display: inline-block;
}

.btn-share {
  border: none;
  border-radius: 50%;
  background-color: var(--light-grayish-blue);
  padding: 0.65em;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.btn-share:hover,
.btn-share:focus-within {
  background-color: var(--dark-blue);
}

.btn-share svg {
  fill: var(--dark-blue);
}
.btn-share:hover svg,
.btn-share:focus-within svg {
  fill: var(--white);
}

/* attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
