/*---------------------- VARIABLES ----------------------*/
/* colors */
$dark-blue: hsl(233, 47%, 7%);
$desaturated-blue: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$light-gray: hsla(0, 0%, 100%, 0.75);
$gray: hsla(0, 0%, 100%, 0.6);

/* fonts */
$main-font-family: "Lexend Deca", sans-serif;
$special-font-family: "Inter", sans-serif;
$base-font-size: 0.9375rem;

/*---------------------- MIXINS ----------------------*/
/* media query mixin */
@mixin breakpoint($class) {
  @if $class == xsm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 650px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 950px) {
      @content;
    }
  } @else if $class == xlg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $class == xxlg {
    @media (min-width: 1800px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xsm, sm, md, lg, xlg, xxlg";
  }
}

/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: $base-font-size;
  font-family: $main-font-family;
  font-weight: 400;
  background-color: $dark-blue;
  color: $light-gray;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* text styles */
h1,
h2 {
  font-family: $special-font-family;
  font-weight: 700;
  color: $white;
}

h1 {
  font-size: calc(#{$base-font-size} * 1.85);
  margin-top: 0;
}

h2 {
  font-size: calc(#{$base-font-size} * 1.75);
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

p {
  color: $light-gray;
  line-height: 1.75;
}

/* general text styles */
.text-center-mobile {
  text-align: center;

  @include breakpoint(md) {
    text-align: left;
  }
}

/* image styles */
img {
  max-width: 100%;
  height: auto;
}

/* color styles */
.text-dark-blue {
  color: $dark-blue;
}

.text-desaturated-blue {
  color: $desaturated-blue;
}

.text-violet {
  color: $violet;
}

.text-white {
  color: $white;
}

.text-light-gray {
  color: $light-gray;
}

.text-gray {
  color: $gray;
}

.bg-dark-blue {
  background: $dark-blue;
}

.bg-desaturated-blue {
  background: $desaturated-blue;
}

.bg-violet {
  background: $violet;
}

.bg-white {
  background: $white;
}

.bg-light-gray {
  background: $light-gray;
}

.bg-gray {
  background: $gray;
}

/* footer styles */
footer {
  margin-top: 10px;
}

/*---------------------- LAYOUT ----------------------*/
/* display styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2em;
}

.wrapper-900 {
  margin: 0 auto;
  max-width: 900px;
}

/* flex styles */
.flex {
  display: flex;
}

/* grid styles */
.grid {
  display: grid;
}

/*---------------------- COMPONENTS ----------------------*/
/* card styles */
.card {
  display: flex;
  flex-direction: column;
  background-color: $desaturated-blue;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;

  @include breakpoint(md) {
    flex-direction: row;
  }
}

.card-overlay {
  // max-width: 650px;
  // max-height: 650px;
  // max-width: 100%;
  // height: auto;
  background-color: darken($violet, 10%);
  border-radius: 10px 10px 0 0;
}

.card-img {
  // height: 300px;
  overflow: hidden;

  @include breakpoint(md) {
    width: 50%;
    order: 2;
  }
}

.card-img img {
  // max-width: 650px;
  // max-height: 650px;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  opacity: 0.7;

  @include breakpoint(md) {
    border-radius: 0 0 10px 0;
  }
}

.card-text {
  order: 1;
  padding: 2.5em 1.5em;

  @include breakpoint(md) {
    width: 50%;
    padding: 3em;
  }
}

.card-stats {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    gap: 4em;
    flex-direction: row;
  }
}

.stat {
  font-size: calc(#{$base-font-size} * 0.85);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.075rem;
  color: $gray;
}

/* attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
  color: $white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
