/*---------------------- VARIABLES ----------------------*/
/* colors */
/* fonts */
/*---------------------- MIXINS ----------------------*/
/* media query mixin */
/*---------------------- HTML, ALL, BODY STYLES ----------------------*/
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0; }

body {
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  background-color: #090b1a;
  color: rgba(255, 255, 255, 0.75);
  overflow-x: hidden; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* text styles */
h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white; }

h1 {
  font-size: calc(0.9375rem * 1.85);
  margin-top: 0; }

h2 {
  font-size: calc(0.9375rem * 1.75);
  margin-top: 1.5em;
  margin-bottom: 0.25em; }

p {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.75; }

/* general text styles */
.text-center-mobile {
  text-align: center; }
  @media (min-width: 650px) {
    .text-center-mobile {
      text-align: left; } }

/* image styles */
img {
  max-width: 100%;
  height: auto; }

/* color styles */
.text-dark-blue {
  color: #090b1a; }

.text-desaturated-blue {
  color: #1b1938; }

.text-violet {
  color: #aa5cdb; }

.text-white {
  color: white; }

.text-light-gray {
  color: rgba(255, 255, 255, 0.75); }

.text-gray {
  color: rgba(255, 255, 255, 0.6); }

.bg-dark-blue {
  background: #090b1a; }

.bg-desaturated-blue {
  background: #1b1938; }

.bg-violet {
  background: #aa5cdb; }

.bg-white {
  background: white; }

.bg-light-gray {
  background: rgba(255, 255, 255, 0.75); }

.bg-gray {
  background: rgba(255, 255, 255, 0.6); }

/* footer styles */
footer {
  margin-top: 10px; }

/*---------------------- LAYOUT ----------------------*/
/* display styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 2em; }

.wrapper-900 {
  margin: 0 auto;
  max-width: 900px; }

/* flex styles */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/* grid styles */
.grid {
  display: grid; }

/*---------------------- COMPONENTS ----------------------*/
/* card styles */
.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #1b1938;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px; }
  @media (min-width: 650px) {
    .card {
      grid-template-columns: repeat(2, 1fr); } }

.card-overlay {
  background-color: #9532d2;
  border-radius: 10px 10px 0 0; }

.card-img {
  overflow: hidden; }
  @media (min-width: 650px) {
    .card-img {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }

.card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  opacity: 0.7; }
  @media (min-width: 650px) {
    .card-img img {
      border-radius: 0 0 10px 0; } }

.card-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 2.5em 1.5em; }
  @media (min-width: 650px) {
    .card-text {
      padding: 3em; } }

.card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 650px) {
    .card-stats {
      gap: 4em;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.stat {
  font-size: calc(0.9375rem * 0.85);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.075rem;
  color: rgba(255, 255, 255, 0.6); }

/* attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
  color: white; }

.attribution a {
  color: #3e52a3; }

/*# sourceMappingURL=main.css.map */